<:Title>
  Todos
<:Body>
<div class='row'>

  <div class='col-md-4'>
    <h1>Todos</h1>
    <table class="todo-table">
      {{ _todos.each do |todo| }}
        <tr
          e-click="params._index = index"
          class="{{ if params._index.or(0).to_i == 1 }}selected{{ end }}">
         >
          <td><input type="checkbox" checked="{{ todo._completed }}" /></td>
          <td>{{ todo._name }}</td>
          <td><button e-click="remove_todo(todo)">X</button></td>
        </tr>
      {{ end }}
    </table>
    <form e-submit="add_todo" role="form">
      <div class='form-group'>
        <label>Todo</label>
        <input class="form-control" type="text" value="{{ page._new_todo }}">
      </div>
    </form>
  </div>
  <div class='col-md-1'>
  {{ _users.each do |u| }}
    {{ u._name }}<br>
  {{ end }}
  </div>
</div>
