<:Title>
  Todos
  <:Body>
    <h1>Todos</h1>
    <body>
      <div class='col-lg-10'>
        <form e-submit="add_todo" role="form">
          <div class='form-group'>
            <label>Todo</label>
            <input class="form-control" type="text" value="{{ _new_todo }}">
          </div>
        </form>
        <table class="todo-table">
          {{ _todos.each do |todo| }}
          <tr>
            <td>
              <h5>{{ todo._name }}
              <button e-click="remove_todo(todo)">x</button></h5>
            </td>
          </tr>
          {{ end }}
        </table>
      </div>
    </body>
