<:Title>
  Todos
  <:Body>
    <h1>Todos</h1>
    <body>
      <div class='col-lg-8'>
        <form e-submit="add_todo" role="form">
          <div class='form-group'>
            <label>Todo</label>
            <center><h2>{{ completed }} out of {{ _todos.count }} Todos complete</h2></center>
            <center><h3>{{ percent_complete }}%</h3></center>
            <input class="form-control" type="text" value="{{ _new_todo }}">
          </div>
        </form>
        <table class="todo-table">
          {{ _todos.each do |todo| }}
          <tr>
            <td>
              <h5>{{ todo._name }}
              <input type="checkbox" checked="{{ todo._complete }}"/>
              <button e-click="remove_todo(todo)">x</button>
            </td>
          </tr>
          {{ end }}
        </table>
      </div>
      <div class='col-lg-4'>
        <div class='row'
        {{ if Volt.user? }}
          {{ _users.each do |u| }}
            {{ u._name }}<br>
          {{ end }}
        {{ end }}
        </div>
        <div>
          {{ if current_todo }}
            <h1>{{ current_todo._name }}</h1>
            <textarea>{{ current_todo._description }}</textarea>
          {{ end }}
        </div>
      </div>
    </body>
